.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-history-chat {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

app-form-chat {
  flex-shrink: 0;
}
