.chat-container {
  display: grid;
  width: 1024px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "chat-container-history"
  "chat-container-history"
  "chat-container-form";
}

.chat-container-history{
  grid-area: chat-container-history;
  height: 550px;
}

.chat-container-form{
  grid-area: chat-container-form;
}

app-history-chat {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

app-form-chat {
  flex-shrink: 0;
}
