<div class="chabot-container">
    <mat-card class="content">
        <h1 class="header">ChatBot - Sementic Kernel</h1>
        <mat-divider class="chat-divider"></mat-divider>
        <div class="chatbot-content">
            @for (message of messages; track message) {
            <div [class]="{'message-item': message.user==='Bot', 'right': message.user === 'User'}">
                <mat-card [class]="{'message-content-bot': message.user === 'Bot', 'message-content-user': message.user === 'User'}">
                    <mat-card-header>
                        <mat-card-title>{{message.user}}</mat-card-title>
                        <mat-card-subtitle>{{message.date | date:'medium' }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div matListItemLine class="message-group">
                            {{message.message}}
                        </div>
                    </mat-card-content>
                </mat-card>
               
            </div>
            }
            @if(chatStore.requestStatus() === 'pending')
            {
                <mat-card class="message-content-bot-loading">
                    <mat-card-header>
                        <mat-card-title>Bot</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    Loading ... or Thinking...
                    The bot's response time depends on the computing power you have. If you have a graphics card that has Cuda support, it will go faster.
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            }
        </div>
        <mat-divider class="message-divider"></mat-divider>
        <form class="message-form">
            <mat-form-field class="message-full-width">
                <mat-label>Write a message</mat-label>
                <textarea #message matInput placeholder="Write a message"></textarea>
            </mat-form-field>
            <button button mat-flat-button (click)="sendMessageToBot(message)">Send</button>
        </form>

    </mat-card>

</div>