.chabot-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1024px;
    height: 768px;
}

.content h1 {
    text-align: center;
}

.chatbot-content{
    height: 100%;
    padding: 15px;
    background-color: white;
    overflow: scroll;
    display: grid;
}

.message-item {
    margin-top: 20px;
    max-width: 65%;
}

.right {
    margin-top: 20px;
    max-width: 65%;
    justify-self: right;
    align-content: right;
   
}

.message-content-user {
    background-color: burlywood;
} 

.message-content-bot {
    background-color: azure ;
    margin-top: 2px;
}

.message-content-bot-loading{
    margin-top: 20px;
    max-width: 65%;
}

.message-full-width {
    width: 85%;
}