.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "workspace-container chat-container chat-container chat-container chat-container";
  background-color: #2f363d;
}

.workspace-container {
  grid-area: workspace-container;
  background-color: #24292e;
}

.chat-container {
  grid-area: chat-container;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .chat-app-container {
  width: 95%;
 }
