/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  color-scheme: light dark;
  @include mat.theme((
    density:-5,
    theme-type: light,
  ));
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
